<div class="col-lg-6 offset-lg-3">
    <br/>
    <h4 class='text-primary'>Add New User</h4>
    <hr/>
    <div id ="new-user">
        <%= render partial: 'user_form', locals: {user: @user} %>
    </div>
</div>
